@font-face {
    font-family: "light";
    src: url(../fonts/Roboto-Light.ttf);
}

@font-face {
    font-family: "medium";
    src: url(../fonts/Roboto-Medium.ttf);
}

@font-face {
    font-family: "bold";
    src: url(../fonts/Roboto-Bold.ttf);
}

:root{
    --pink-color:#ff3571;
    --gray-font:rgb(221, 221, 221);
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    max-width: 100%;
}

body{
    weight: 1440px;
    height: 648px;
}

.logo{
    width: 50px;
    height: 50px;
    position: fixed;
    top: 5.5%;
    left: 1.5%;
}

.header-intro{
    display: flex;
    flex-direction: column;
    padding: 2.5% 0 0 5%;
}

.intro{
    font-family: "medium";
    font-size: 2rem;
}
.header-intro p{
    font-family: "light";
    font-size: 1.125rem;
}

.float-bg{
    position: absolute;
    top: 0;
    right: 0;

    width: 60vw;
}

.float-dude{
    position: absolute;
    top: -5rem;
    right: 1rem;

    width: 60vw;
    animation: float 3s ease-in-out infinite;
}

.header-intro-scnd{
    padding: 30rem 0 20rem 15rem;
}

.header-intro-scnd p{
    font-family: "light";
    font-size: 1.5rem;
    padding-bottom: 4.5rem;
    padding-top: 2rem;
}

.title{
    font-family: "bold";
    font-size: 6rem;

}

.rocket{
    width: 35px;
    height: 35px;
    position: absolute;
    top: 55.5rem;
    left: 32rem;
}

.go-main{
    text-decoration: none;
    color: var(--pink-color);
    font-family: "medium";
    font-size: 1.5rem;
}

/* End of Header */

.gallery{
    width: 100vw;
    filter: drop-shadow(30px 10px 4px var(--gray-font));
    z-index: 1;
}

.sect01{
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 25rem 10rem 10rem 15rem;

}

.h2{
    font-family: "medium";
    font-size: 2.5rem;

}

.sect01-p{
    font-family: "light";
    font-size: 1.325rem;
    line-height: 2em;
    padding-right: 7rem;
    width: 53rem;
}

.sect01-sub{
    display: flex;
    position: relative;
}

.idea{
    width: 50px;
    height: 50px;
    position: absolute;
    left: 12rem;

}

.position-h2{
    padding-left: 25rem;
    padding-right: 30rem;
    margin-bottom: 20rem;
}

/* 2x2 Info Text Grid */

.grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
    justify-items: center;
    align-items: center; 
}

.box {
    width: 55rem;
    padding: 20px;
    text-align: center;
    border-radius: 8px;
    padding-left: 10rem;
    display: flex;
}

.box1 {
    grid-column: 1;
    grid-row: 1;
}

.box2 {
    grid-column: 2;
    grid-row: 1;
}

.box3 {
    grid-column: 1;
    grid-row: 2;
}

.box4 {
    grid-column: 2;
    grid-row: 2;
}

/* End of Grid (yes i need that information xd) */

.vector-size{
    width: 40px;
    height: 40px;
    margin-right: 10px;
}

.text-style{
    text-align: left;

}
.text-style h3{
    font-family: "medium";
    font-size: 1.325rem;
    padding-right: 10rem;
    margin-bottom: 5px;
}

.text-style p{
    font-family: "light";
    font-size: 1rem;
    font-weight: 500;
    padding-right: 10rem;
}

.mid-part{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 15rem 0;
}

.mid-part h4{
    font-family: "medium";
    font-size: 2rem;
    margin-bottom: 20px;
}

.mid-part p{
    text-align: center;
    font-family: "light";
    font-size: 1.325rem;
    font-weight: 500;
    padding: 0 40rem;
}

/* Step Section */

.flex-steps{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 10rem;
    padding-bottom: 5rem;
}

.flex-steps-text{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.steps-img{
    width: 25vw;
}

.steps-svg{
    width: 50px;
    height: 50px;
    margin-bottom: 25px;

}

.number-font{
    font-family: "bold";
    font-size: 4rem;
    color: var(--gray-font);
    margin-bottom: 50px;
}

h5{
    font-family: "medium";
    font-size: 2rem;
    margin-bottom: 25px;
}

.flex-steps-text p{
    font-family: "light";
    font-size: 1rem;
    font-weight: 500;
    text-align: left;
}

.odd{
    padding-left: 20rem;
}

.even{
    padding-right: 20rem;
}
/* Form Section */

.subscribe-section {
    text-align: center;
    padding: 20px 20px 10rem 20px;
    max-width: 31.25rem;
    margin: 0 auto;
}


.subscribe-title {
    font-family: "medium";
    font-size: 1.5rem;
    margin-bottom: 10px;
}


.subscribe-description {
    font-family: "light";
    font-size: 1.225rem;
    margin-bottom: 20px;
}


.subscribe-form {
    display: flex;
    flex-direction: column;
    align-items: center;
}


.subscribe-input {
    font-family: "light";
    text-align: center;
    height: 5rem;
    width: 100%;
    max-width: 700px;
    padding: 15px;
    border: 1px solid var(--gray-font);
    border-radius: 5px;
    font-size: 1.325rem;
    margin-top: 50px;
    margin-bottom: 15px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.05);
}


.subscribe-button {
    background: hsla(339, 100%, 55%, 1);
    color: white;
    border: none;
    padding: 15px 30px;
    margin-top: 25px;
    border-radius: 5px;
    font-size: 1rem;
    cursor: pointer;
    transition: all 0.5s ease-in-out;
    width: 15vw;
}

.subscribe-button:hover {
    background: linear-gradient(90deg, hsla(339, 100%, 55%, 1) 0%, hsla(197, 100%, 64%, 1) 100%);
}

/* Footer */

footer{
    display: flex;
    align-items: center;
    font-family: "light";
    padding-left: 10rem;
}

footer img{

    height: 25px;
    margin-left: 5px;
}

/* Animation Keyframes */

@keyframes float {
    0% {
        transform: translateY(0); 
    }
    50% {
        transform: translateY(4.5rem); 
    }
    100% {
        transform: translateY(0);
    }
}